/* style pour toutes les pages des documents */
body{
    font-family:georgia, serif;
    background: center no-repeat url("../images/fond.jpg");
}
h1 {
    color:blue;
    border: 1px solid black;
    text-align: center;
}

h2 {
    color:red;
}
li {
    font-size: 16px;
    letter-spacing: 1px;
}

/* classe */
#nomCours{
    text-transform:uppercase;
    color: green;
}
/* id */
.metier {
    color: darkmagenta;
    font-weight: bold;
}
